/*Laptop*/
@media screen and (min-device-width: 1200px){
  #NavbarLogo{width: 100px;}
  #searchbar{margin-top: 50px;}
  #sideMenu{  display: none!important;}
  .jumbotron-text{margin-top: 200px;margin-left: 15px;max-width: 80%;}
  .jumbotron-subtext{margin-left: 120px;}
  .spotlight-end-text{margin-top: 50px;margin-left: 15px;}
  .spotlight-end-subtext{margin-left: 120px;}
  .text-autor{width: 100px;}
  .spotlight-container{margin-top: -80px; margin-bottom: 20px;}
  .twothirds-img{height: 300px;}
  .onethirds-img{height: 200px;}
  .onethirds-img-big{height: 300px;}
}
/* Celular Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
  #NavbarLogo{width: 80px;}
  .nav-item{padding-top:20px; padding-bottom: 20px;}
  #searchbar{margin-top: 10px; width: 50%;}
  .spotlight-start{height: -webkit-fill-available;}
  .text-autor{width: 50px;margin-top: 100%; margin-left: 15px;}
  .jumbotron-text{ margin-left: 15px; font-size: 32px;}
  .jumbotron-subtext{margin-left: 15px;}
  .spotlight-container{display: none;}
  #autor-end{margin-top: 30%;}
  .spotlight-end-text{margin-left: 15px; font-size: 24px;}
  .spotlight-end-subtext{margin-left: 15px;}
  footer{display: none;}
}
/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
{
  #NavbarLogo{width: 100px;}
  #sideMenu{  display: none!important;}
  #searchbar {display: none;}
  .nav-item{padding-top:20px; padding-bottom: 20px;}
  .text-autor{width: 50px;margin-left: 15px;}
  .jumbotron-text{ margin-left: 15px; font-size: 32px;}
  .jumbotron-subtext{margin-left: 15px;}
  .spotlight-container{display: none;}
  .spotlight-end-text{margin-left: 15px; font-size: 24px;}
  .spotlight-end-subtext{margin-left: 15px;}
  footer{display: none;}
}
/* Tablet Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
{
  #NavbarLogo{width: 100px;}
  #sideMenu{  display: none!important;}
  .jumbotron-text{margin-top: 200px;margin-left: 15px;}
  .jumbotron-subtext{margin-left: 120px;}
  .spotlight-end-text{margin-top: 50px;margin-left: 15px;}
  .spotlight-end-subtext{margin-left: 120px;}
  .text-autor{width: 100px;}
  .spotlight-container{margin-top: -80px; margin-bottom: 20px;}
  .twothirds-img{height: 300px;}
  .onethirds-img{height: 200px;}
  .onethirds-img-big{height: 300px;}
}

/*Spotlight*/
.spotlight-start {
  background:linear-gradient(rgba(50,50,50,0.5), rgba(50,50,50,0.5)), url("assets/jumbotron_bg.jpg");
  background-size: cover;
}
.jumbotron-text{
  color: white;
  display: inline-flex;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.jumbotron-subtext{
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.card-spotlight{
  width: 20%;
  margin: 0px 10px 0px;
  cursor: pointer;
}
.card-spotlight:hover{
  background-color: gray;
  color: white;
}
.spotlight-end{
  width: 100%;
  height: 300px;
  background:linear-gradient(rgba(50,50,50,0.5), rgba(50,50,50,0.5)), url("assets/jumbotron_bg.jpg");
  background-size: cover;
}
.spotlight-end-text{
  color: white;
  max-width: 80%;
  display: inline-flex;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.spotlight-end-subtext{
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/*Stories*/
.twothirds-img{
  overflow: hidden;
}
.twothirds-text{
  cursor: pointer;
}
.twothirds-text:hover{
  color: #2098D1 !important;
}
.twothirds-subtext{
  text-transform: uppercase;
  margin-bottom: 15px;
}
.onethirds-img{
  overflow: hidden;
}
.onethirds-text{
  cursor: pointer;
}
.onethirds-text:hover{
  color: #2098D1 !important;
}
.onethirds-subtext{
  text-transform: uppercase;
  margin-bottom: 30px;
}
.section-tag{
  margin: 20px 0px 20px;
  text-transform:uppercase;
}
.socialmedia{
  overflow: hidden;
}
/*Elementos Globais*/
body {
 font-family: 'Work Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
 font-family: 'Crimson Text', serif;
}
a, span{
 font-family: 'Lato', sans-serif;
 font-weight: 600;
}
img{
  width: 100%;
}
footer{
  margin-top: 30px;
  border-top:1px solid rgba(0,0,0,0.5);
}
.nav-link{
  margin: 0px 20px 0px;
}
.footer-link{
  color: rgba(0, 0, 0, 0.5) ;
}
.img-circle{
  border-radius: 50%;
}

.linebreak{
  width:100%;
  margin:10px 0 20px;
  text-transform: uppercase;
}
.linebreak span{
  background:#fff;
  padding:0 10px;
}
.break-line{
  margin-top: -10px;
  width: 80%;
  border-color: rgba(0, 0, 0, 0.5);
}
#sideMenu{
  position: fixed;
  background-color: #f8f9fa;
  height: 100%;
  width: 60%;
  top: 80px;
  left: 0px;
  text-align: center;
}

/*Bibliotecas*/
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
.hvr-underline-from-left:hover {
  color: #2098D1 !important;
}

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  color: #2098D1 !important;
  cursor: pointer;
}

#sideMenu.collapsing {
    height: auto;
    -webkit-transition: left 0.1s ease;
    -o-transition: left 0.1s ease;
    -moz-transition: left 0.1s ease;
    transition: left 0.1s ease;
    left: -100%;
}
#sideMenu.show {
    left: 0;
    -webkit-transition: left 0.1s ease-in;
    -o-transition: left 0.1s ease-in;
    -moz-transition: left 0.1s ease-in;
    transition: left 0.1s ease-in;
}
