/*Laptop*/
@media screen and (min-device-width: 1200px){
  #NavbarLogo{width: 100px;}
  #searchbar{margin-top: 50px;}
  .text-autor{width: 130px;}
  .text-autor-thumbnail{width: 70px;}
  .onethirds-img{height: 200px;}
  .container{margin-top: 50px;}
  .tag-side{font-size: 12px;}
  .header-img{height: 400px; overflow: hidden; margin-top: 15px;}
  .nav-btn{margin-top: 30px;}
  #comment{margin: 20px 0px 20px;}
  #reply-box{margin: 50px 0px 50px;}
}
/* Celular Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){

}
/* Tablet Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
{

}
/* Tablet Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
{
  #NavbarLogo{width: 100px;}
  .text-autor{width: 130px;}
  .text-autor-thumbnail{width: 70px;}
  .onethirds-img{height: 200px;}
  .container{margin-top: 50px;}
  .tag-side{font-size: 12px;}
  .header-img{height: 400px; overflow: hidden; margin-top: 15px;}
  .nav-btn{margin-top: 30px;}
  #comment{margin: 20px 0px 20px;}
  #reply-box{margin: 50px 0px 50px;}
}

/*Stories*/
.header-autortext{
  display: inline-flex;
  height: 50px;
}
.header-autortext span{
  border-right: 1px solid #dedede;
  padding: 0px 20px;
}
.main-text{
  max-width: 100%;
  margin: 30px 0px 30px;
  text-align: justify;
}
.text-tags{
  display: inline;
}
.thumbnail-text{
  display: inline-flex;
}
.onethirds-img{
  overflow: hidden;
}
.onethirds-text{
  cursor: pointer;
}
.onethirds-text:hover{
  color: #2098D1 !important;
}
.onethirds-subtext{
  text-transform: uppercase;
  margin-bottom: 30px;
}
.section-tag{
  margin: 20px 0px 20px;
  text-transform:uppercase;
}
.tag-side{
  margin: 4px 0px 4px;
  text-transform:uppercase;
}
.socialmedia{
  overflow: hidden;
}
/*Elementos Globais*/
body {
 font-family: 'Work Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
 font-family: 'Crimson Text', serif;
}
a, span{
 font-family: 'Lato', sans-serif;
 font-weight: 600;
}
ul{
  list-style-type: none;
}
img{
  width: 100%;
}
button{
  text-transform: uppercase;
}
footer{
  margin-top: 30px;
  border-top:1px solid rgba(0,0,0,0.5);
}
.nav-link{
  margin: 0px 20px 0px;
}
.footer-link{
  color: rgba(0, 0, 0, 0.5) ;
}
.img-circle{
  border-radius: 50%;
}

.linebreak{
  width:100%;
  margin:10px 0 20px;
  text-transform: uppercase;
}
.linebreak span{
  background:#fff;
  padding:0 10px;
}
.nav-btn{
  text-transform: uppercase;
  background:#fff;
  padding:0 10px;
}
.break-line{
  margin-top: -10px;
  width: 80%;
  border-color: rgba(0, 0, 0, 0.5);
}

/*Bibliotecas*/
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
.hvr-underline-from-left:hover {
  color: #2098D1 !important;
}

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  color: #2098D1 !important;
  cursor: pointer;
}
